@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Estilo para la lista de pedidos */
.list-group-item-action {
    transition: all 0.3s ease;
}

.list-group-item-action:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
}

/* Estilo para los modales */
.modal-content {
    border-radius: 10px;
    background-color: #f8f9fa;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-title {
    font-size: 1.25rem;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: #f1f1f1;
    text-align: center;
}

.list-group-item {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 8px;
}
